@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100vw;
  font-size: 16px;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* .btn--options{
  min-width: 80px;
} */

.btn--options,
.btn--add-form {
  min-width: 100px;
}

main {
  position: relative;
  min-height: 100vh;
}

main.w-full > div {
  width: 50%;
  margin-bottom: 2.5rem;
}

.add-form > div {
  margin-bottom: 2.5rem;
}

.site-title {
  font-weight: 600;
  font-size: 2rem;
}

.add-dialog-container {
  position: absolute;
  background: rgba(51, 51, 51, 0.4);
  z-index: 1;
  max-height: 100vh;
}

.add-dialog__title {
  font-weight: 600;
}
dialog#add-dialog-container.is-hidden,
.is-hidden {
  display: none;
}

/* todo better border */
.icon-border {
  text-shadow: 0 0 3px #000;
}

.fav__inner {
  fill: none;
  stroke: #000000;
  stroke-width: 1px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1;
  opacity: 0;
}

.marked-as-fav > path.fav__inner {
  fill: #f6e05e;
  opacity: 1;
}
