@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100vw;
  font-size: 16px;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.btn--options{
  /* font-size: 14px; */
  color: #0954AB;
}

/* .btn--options, */
.btn-form {
  min-width: 100px;
}

main {
  max-height: 100vh;
}

main.w-full > div:not(.dialog-container) {
  width: 50%;
  margin-bottom: 2.5rem;
}

.form > div {
  margin-bottom: 2.5rem;
}

.site-title {
  font-weight: 600;
  font-size: 2rem;
}

#dialog-container {
  position: absolute;
  background: rgba(51, 51, 51, 0.4);
  z-index: 5;
  min-height: 100vh;
  height: 100%;
}

#dialog-container dialog{
  position: relative;
  top: 0;
  /* todo */
}

.form__title {
  font-weight: 600;
}
div#dialog-container.is-hidden,
dialog.is-hidden,
div.is-hidden,
.is-hidden {
  display: none;
}

/* todo better border */
.icon-border {
  text-shadow: 0 0 3px #000;
}

.fav__inner {
  fill: none;
  stroke: #000000;
  stroke-width: 1px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1;
  opacity: 0;
}

.marked-as-fav > path.fav__inner {
  fill: #f6e05e;
  opacity: 1;
}

.tag {
  border-radius: 0.5rem;
}

.error-container {
  position: absolute;
  z-index: 2;
  top: 2.5rem;
}

main.main-grid-container{
  display: grid;
  grid-template-columns: 50vw;
  row-gap: 2.5rem;
  /* calc(75vh - 2times row-Gap) */
  grid-template-rows: 10vh 15vh calc(75vh - 5rem);
  grid-template-areas: 
  "intro-area"
  "add-filter-area"
  "table-area";
  justify-items: center;
  align-items: center;
}

div.into-container{
  grid-area: intro-area;
}

div.table-container{
  grid-area: table-area;
}

div.add-filter-container{
  grid-area: add-filter-area;
  display: grid;
  grid-template-columns: 10% repeat(4, 20%) 10%;
  grid-template-rows: repeat(2, 50%);
  row-gap: 0.5rem;
  grid-template-areas: 
  ". add-text-area add-text-area add-text-area add-btn-area ."
  ". filter-input-area filter-input-area filter-input-area filter-btn-area .";
  justify-items: center;
  align-items: center;
}

p.add-text-p{
  grid-area: add-text-area;
}

button#open-add-dialog{
  grid-area: add-btn-area;
}

input[name="tag-search-input"]{
  grid-area: filter-input-area;
}

button#filter-btn{
  grid-area: filter-btn-area;
}


thead {
  position: sticky;
  top: 0;
  z-index: 1;
  background: white;
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.05);
  -moz-box-shadow:  0 8px 6px -6px rgba(0, 0, 0, 0.05);
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.05);
}

td{
  height: 57px;
  overflow: hidden;
}
