@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.btn--options{
  min-width: 80px;
}